<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcdeguzman_bernadettealvarado_comp304sec002_lab5">

    <!--Google Map Permissions-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarcDeGuzman_BernadetteAlvarado_COMP304Sec002_Lab5">
        <activity android:name=".CasaManilaActivity"></activity>
        <activity android:name=".BagnetBrosActivity" />
        <activity android:name=".LamesaActivity" />
        <activity android:name=".FilipinoActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".AthenaActivity" />
        <activity android:name=".JimmyActivity" />
        <activity android:name=".MessiniActivity" />
        <activity android:name=".GreekActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".TrattoriaActivity" />
        <activity android:name=".PanagoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".CiboActivity" />
        <activity
            android:name=".ItalianActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>